.cart-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Alinhar os itens no topo */
    padding: 20px;
    height: 100vh; /* Altura total da janela de visualização */
    overflow-y: auto; /* Permitir rolagem vertical */
  }
  
  .cart-items {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 20px;
    margin-top: 100px; /* Mover os itens mais para baixo */
    max-height: calc(100vh - 60px); /* Ajuste a altura máxima dos itens para caber na tela com espaço para padding */
    overflow-y: auto; /* Permitir rolagem vertical dentro dos itens */
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px; /* Reduzir padding */
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 10px; /* Espaçar cada item individualmente */
    font-size: 14px; /* Ajuste do tamanho da fonte */
  }
  
  .cart-item-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 10px; /* Ajustar a margem */
    font-size: 14px; /* Ajuste do tamanho da fonte */
  }
  
  .cart-remove-button {
    padding: 5px; /* Ajustar o padding */
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cart-remove-button:hover {
    background-color: #555;
  }
  
  .cart-summary {
    margin-top: 100px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
    background-color: #f9f9f9;
    margin-left: 20px; /* Espaçamento para a esquerda */
    align-self: flex-start; /* Garantir que o resumo comece no topo */
  }
  
  .cart-summary h3 {
    margin-bottom: 10px;
  }
  
  .cart-clear-cart-button,
  .cart-checkout-button {
    width: 100%;
    padding: 5px; /* Ajustar o padding */
    margin-top: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cart-clear-cart-button:hover,
  .cart-checkout-button:hover {
    background-color: #555;
  }
  
  .cart-summary h3 {
    margin-bottom: 10px;
  }
  
  .cart-clear-cart-button,
  .cart-checkout-button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cart-clear-cart-button:hover,
  .cart-checkout-button:hover {
    background-color: #555;
  }