.category-products-container {
  padding: 20px;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 100px;
}

.product-card {
  width: 250px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #333;
  color: #fff;
  text-align: center;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.product-card h3 {
  margin: 10px 0;
  min-height: 48px;
}

.product-card p {
  margin: 5px 0;
}

.product-card .product-info {
  flex-grow: 1;
}

.product-card .btn {
  padding: 10px;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.product-card .btn.buy-now {
  background-color: #28a745;
  margin-top: 5px;
}

.product-card .btn:hover {
  background-color: #0056b3;
}

.product-card .btn.buy-now:hover {
  background-color: #218838;
}