.configurator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.categories {
  display: flex;
  margin-top: 80px; 
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.categories button {
  padding: 10px;
  margin: 5px;
  border: none;
  background-color: #555;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.categories button.active {
  background-color: #333;
}

.categories button:hover {
  background-color: #333;
}

.configurator-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 12000px; /* Define uma largura fixa */
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-grow: 1;
  width: 1400px;
  border-left: 10px;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  text-align: center;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card h3 {
  margin-bottom: 10px;
}

.product-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product-card button {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: auto;
}

.product-card button:hover {
  background-color: #218838;
}

.summary {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  background-color: #f9f9f9;
}

.summary h3 {
  margin-bottom: 10px;
}

.summary p {
  margin-bottom: 10px;
}

.selected-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.selected-product p {
  flex: 1;
}

.selected-product button {
  padding: 5px 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.selected-product button:hover {
  background-color: #c82333;
}

.selected-product-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
