.edit-product-container {
  padding: 20px;
  max-width: 600px;
  margin: auto;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.edit-product-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.edit-product-form {
  display: flex;
  flex-direction: column;
}

.edit-product-form label {
  margin-top: 10px;
}

.edit-product-form input,
.edit-product-form select,
.edit-product-form textarea {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.edit-product-form button {
  margin-top: 20px;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
}

.preview-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}