.faq-container {
    max-width: 1200px;
    margin: 100px auto 50px;
    padding: 10px;
    background-color: #f3ede5;
    border: 1px solid #453f3c;
    border-radius: 10px;
    height: 80vh;
    overflow-y: auto;
}

.faq-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #453f3c;
    text-align: center;
    margin-bottom: 20px;
}

.search-container {
    margin-bottom: 20px;
}

.faq-search {
    width: 100%;
    padding: 10px;
    border: 2px solid #453f3c;
    border-radius: 20px;
    font-size: 1rem;
    outline: none;
}

.faq-items {
    width: 100%;
}

.faq-item {
    margin-bottom: 20px;
}

.question {
    font-size: 1.2rem;
    font-weight: bold;
    color: #453f3c;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
}

.answer {
    display: none;
    padding: 15px;
    background-color: #f3ede5;
    color: #453f3c;
    border-radius: 10px;
    margin-top: 10px;
}

.faq-item.active .answer {
    display: block;
}
