.forgot-password-container {
  max-width: 400px;
  margin: 350px auto; /* Adicionar margem superior */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.forgot-password-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.forgot-password-form {
  display: flex;
  flex-direction: column;
}

.forgot-password-form label {
  margin-top: 10px;
}

.forgot-password-form input {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.forgot-password-form button {
  margin-top: 20px;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.forgot-password-form button:hover {
  background-color: #555;
}