.login-container {
  width: 400px;
  margin: 300px auto; /* Adicione uma margem superior para distanciar da navbar */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  margin-top: 10px;
}

.login-form input {
  padding: 5px;
  margin-top: 5px;
}

.login-form button {
  margin-top: 20px;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.options {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.options a {
  color: #007bff;
  text-decoration: none;
}

.options a:hover {
  text-decoration: underline;
}
