.register-container {
  max-width: 400px;
  margin: 100px auto; /* Adicionar margem superior */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.register-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.register-form label {
  margin-top: 10px;
}

.register-form input {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-form button {
  margin-top: 20px;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register-form button:hover {
  background-color: #555;
}

.register-form a {
  color: #007bff;
  text-decoration: none;
}

.register-form a:hover {
  text-decoration: underline;
}

.register-form input[type="checkbox"] {
  margin-right: 10px;
}