.terms-container {
  align-items: center;
 
  max-width: 800px;

  padding: 40px 20px 20px; 
  margin-top: 150px; 
  margin-left: 550px;
  background-color: #f9f9f9;
  border: 1px solid #453f3c;
  border-radius: 10px;
  overflow-y: auto;
}

.terms-container h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #453f3c;
  text-align: center;
  margin-bottom: 20px;
}

.terms-container p {
  color: #453f3c;
  line-height: 1.5;
  text-align: justify;
}
