/* CategoryMenu.css */
.bm-burger-button {
  position: absolute;
  width: 22px;
  height: 17px;
  left: 55px; /* Ajuste conforme necessário */
  top: 30px; /* Ajuste conforme necessário */
}

.bm-burger-bars {
  background: #ffffff;
}

.bm-burger-bars-hover {
  background: #02c4f5;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.bm-menu-wrap {
  left: 0px; /* Hide menu when not active */
}
