.profile-dropdown {
  position: relative;
  display: inline-block;
}

.profile-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -10px; /* Ajuste esta propriedade para mover o menu para a esquerda */
  top: 50px; /* Ajuste esta propriedade para mover o menu para baixo */
  background-color: #2c2c2c; /* Fundo escuro */
  border: 1px solid #444; /* Borda mais escura */
  border-radius: 8px;
  margin-top: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  min-width: 200px; /* Largura mínima suficiente */
  padding: 10px 0; /* Padding vertical */
}

.dropdown-item {
  padding: 10px 20px;
  text-align: left;
  cursor: pointer;
  background: none;
  border: none;
  width: 100%;
  color: white; /* Texto branco */
  text-align: left;
  display: flex;
  align-items: center;
  font-size: 14px; /* Certifique-se de que o tamanho da fonte é consistente */
  text-decoration: none; /* Remove o sublinhado dos links */
  box-sizing: border-box; /* Inclui padding e border no tamanho total */
}

.dropdown-item:hover {
  background-color: #3a3a3a; /* Cor de fundo ao passar o mouse */
}

.separator {
  height: 1px;
  background-color: #444; /* Cor da linha de separação */
  margin: 10px 0; /* Espaçamento acima e abaixo da linha */
}